body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(./img/backgroundBody.png);
    background-attachment: fixed;
    background-repeat: no-repeat cover ;
    
    color: gold;
}
.header__text{
    line-height: 1.7;
    font-size: 28px;
    text-shadow: 0 0 3px #38040e;
    color: #fee440;
    transition: color .5s;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #bf0603;
    border-radius: 20px;
    transition: var(--transition);
}
::-webkit-scrollbar-track {
    background-color:  #660708;
    
}
::-webkit-scrollbar-corner {
    background-color: #660708;
}